body, 
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Croissant One', cursive;;
}

h1, 
h2 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  gap: 2em;
  margin: 1em;
}

.container {
  margin: 1.5em;
}

.headshot img {
  max-height: 13rem;
  border-radius: 5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 0.5em;
}

.opening {
  text-align: justify;
}

.skills {
  text-align: center;
  height: fit-content;
}

.education > .details {
  text-align: left;
}

.education > .details > span {
  margin-left: 2em;
}