body, 
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Croissant One', cursive;;
}

h1, 
h2 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  gap: 2em;
  margin: 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1em;
}

.accent {
  color: dimgray;
}

.education, 
.experience, 
.certifications,
.contact {
  margin: 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2em;
}

.headshot img {
  max-height: 13rem;
  border-radius: 5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 0.5em;
}

.right > .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.opening {
  text-align: justify;
}

.skills {
  text-align: center;
  height: fit-content;
}

.education > .details {
  text-align: left;
}

ul {
  display: flex;
  gap: 5rem;
}